* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: darkgray;
}

header, main {
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    font-size: 75px;
    font-style: italic;
    position: absolute;
    left: 35px;
    color: blue;
    background:none;
    transition: color .5s;
}

header img {
    width: 100%;
    height: 400px;
}

nav a {
    width: 250px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border: 2px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

 header nav {
    position:absolute;
    top: 460px;
}

a:hover {
    background-color: green;
}

h1:hover {
    color: green;
}

h2:hover {
    background-color: green;
}

h3:hover {
    color: green;
}

h4:hover{
    color: green;
}

section h2 {
    color: white;
    background: blue;
    text-align: center;
    border: 2px solid black;
    padding: 5px
}

section img {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 40px 20px;
    border: 2px solid blue;
    position: absolute;
    right: 150px;
    top: 310px;
    background: white;
}

.logo:hover {
    border: 2px solid green;
    transform: rotate(-0.50turn)
}

section article {
    padding: 10px 10px 10px 300px;
    margin: 40px 5px;
}

article h4 {
    font-style: italic;
    font-size:xx-large;
}

article p {
    font-style: italic;
    font-size:xx-large;
    padding-left: 30px
}

/* About */

article h3 {
    font-style: italic;
    font-size:xx-large
}

/* Contact */

.p-contact {
    font-style: italic;
    font-size: x-large;
    padding-left: 20px;
    margin-top: 50px;
    margin-left: 250px;
}
